* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #698F3F;
    color: white;
}

.site-name {
    font-size: 1.7rem;
    font-weight: 700;
    padding: 1rem 1.5rem;
}

.navigation-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-link {
    font-size: 1.2rem;
    text-decoration: none;
    padding: 1.3rem 2rem;
}

.nav-link:link {
    color: white;
}

.nav-link:hover {
    background-color:  white;
    color: #698F3F;
}

.nav-link:visited {
    color: #12331B;
}

.mid-section {
    display: flex;
    flex-grow: 1;
}

.main-content {
    order: 1;
    flex: 3;
    padding: 3rem;
}

h1 {
    font-family: 'Abril Fatface', serif;
    font-size: 2.5rem;
    padding-top: 2rem;
    margin: 0;
}

p {
    font-size: 1.2rem;
    line-height: 2rem;
}

.sidebar {
    background-color: #E7DECD;
    font-size: 1rem;
    padding: 0 1.5rem;
}

.sidebar-title {
    margin: 0;
    padding: 5.5rem 0 2rem;
}

.sidebar-image {
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

.sidebar-left {
    order: 0;
    flex: 1;
}
.sidebar-right {
    order: 2;
    flex: 1;
}

.footer {
    text-align: center;
    background-color: #804E49;
    color: white;
}

/*styling for tablet*/

@media only screen and (max-width: 1000px) {

    .header {
        flex-direction: column;
    }

    .navigation-list {
        padding: 1rem;
        justify-content: space-around;
    }

    .nav-link:hover {
        background-color: transparent;
        color: white;
        text-decoration: underline;
    }

    .mid-section {
        flex-direction: column;
        flex-grow: 0;
    }

    .sidebar {
        text-align: center;
    }

    .sidebar-image {
        padding-bottom: 2rem;
    }
}

/*styling for mobile*/

@media only screen and (max-width: 600px) {

    .navigation-list {
        flex-direction: column;
    }

    .nav-link {
        text-align: center;
        padding: 1rem;
        display: block;
    }

}